.container {
    width: 100%;
    height: 100vh;
    border: 1px solid salmon;
    display: flex;
    justify-content: center;
    align-self: center;
}

.wrapper {
    width: 400px;
    border: 1px solid salmon;
    text-align: center;
}

.header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.main{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.footer{
    height: 10vh;
}

